---
- name: "remove {{ unbound_temporary_directory }}/dnscrypt-wrapper dir if it exists"
  file:
    path: "{{ unbound_temporary_directory }}/dnscrypt-wrapper"
    state: absent
  changed_when: false

- name: "clone latest dnscrypt-wrapper repo"
  git:
    repo: "git://github.com/cofyc/dnscrypt-wrapper.git"
    dest: "{{ unbound_temporary_directory }}/dnscrypt-wrapper"
    version: master
  changed_when: false

- name: "Install dnscrypt-wrapper"
  shell: |
    set -o pipefail
    cd {{ unbound_temporary_directory }}/dnscrypt-wrapper; make configure; ./configure; make install
  args:
    executable: /bin/bash
  become: true
  changed_when: false

- name: "Generate the provider key pair"
  shell: |
    set -o pipefail
    cd {{ unbound_dnscrypt_dir }}; dnscrypt-wrapper --gen-provider-keypair \
      --provider-name=2.dnscrypt-cert.{{ ssl_tls_hostname }} --ext-address={{ server_main_ip.stdout }}
  args:
    executable: /bin/bash
    creates: "{{ unbound_dnscrypt_dir }}/secret.key"
  environment:
    PATH: "/usr/local/sbin:{{ ansible_env.PATH }}"
  become: true
  changed_when: false
  register: create_provider_keypair

- name: "Generate a time-limited secret key"
  shell: |
    set -o pipefail
    dnscrypt-wrapper --gen-crypt-keypair --crypt-secretkey-file={{ unbound_dnscrypt_dir }}/crypt_secretkey.key
  args:
    executable: /bin/bash
    creates: "{{ unbound_dnscrypt_dir }}/crypt_secretkey.key"
  environment:
    PATH: "/usr/local/sbin:{{ ansible_env.PATH }}"
  become: true
  changed_when: false
  register: create_secret_key

- name: "Generate a time-limited provider cert"
  shell: |
    set -o pipefail
    dnscrypt-wrapper --gen-cert-file --crypt-secretkey-file={{ unbound_dnscrypt_dir }}/crypt_secretkey.key \
      --provider-cert-file={{ unbound_dnscrypt_dir }}/provider_cert.cert --provider-publickey-file={{ unbound_dnscrypt_dir }}/public.key \
      --provider-secretkey-file={{ unbound_dnscrypt_dir }}/secret.key --cert-file-expire-days=365
  args:
    executable: /bin/bash
    creates: "{{ unbound_dnscrypt_dir }}/provider_cert.cert"
  environment:
    PATH: "/usr/local/sbin:{{ ansible_env.PATH }}"
  become: true
  changed_when: false
  register: create_provider_cert

- name: "enable dnscrypt config in {{ unbound_confd_dir }}/99-custom-unbound.conf"
  lineinfile:
    path: "{{ unbound_confd_dir }}/99-custom-unbound.conf"
    line: "{{ item }}"
  changed_when: false
  with_items:
    - "dnscrypt:"
    - "    dnscrypt-enable: yes"
    - "    dnscrypt-port: 443"
    - "    dnscrypt-provider: 2.dnscrypt-cert.{{ ssl_tls_hostname }}."
    - "    dnscrypt-secret-key: {{ unbound_dnscrypt_dir }}/crypt_secretkey.key"
    - "    dnscrypt-provider-cert: {{ unbound_dnscrypt_dir }}/provider_cert.cert"

- name: "save DNS Stamp info"
  copy:
    content: "{{ create_provider_keypair.stdout }}"
    dest: "{{ ansible_user_dir }}/dnsstamp.txt"
    mode: 0644
  #  delegate_to: localhost
  changed_when: false

- name: "set correct folder ownership for {{ unbound_dnscrypt_dir }}"
  file: dest="{{ unbound_dnscrypt_dir }}" owner=unbound group=unbound recurse=yes
  changed_when: false
