---
# tasks file for unbound

- name: show ansible_virtualization_type
  debug:
    msg: "{{ ansible_virtualization_type }}"

- name: "Wait for systemd to complete initialization."
  #  command: systemctl is-system-running
  shell: |
    set -o pipefail
    systemctl is-system-running
  args:
    executable: /bin/bash
  register: systemctl_status
  until: >
    'running' in systemctl_status.stdout or
    'degraded' in systemctl_status.stdout
  retries: 30
  delay: 5
  when: (ansible_service_mgr == 'systemd' and ansible_distribution == 'Fedora')
  changed_when: false

- name: "get status of systemd-resolved service"
  shell: |
    set -o pipefail
    systemctl is-enabled systemd-resolved
  args:
    executable: /bin/bash
  check_mode: no
  failed_when: systemd_resolved_status.rc >= 2
  changed_when: false
  register: systemd_resolved_status

- name: "disable systemd-resolved service"
  include: systemd-resolved.yml
  when: ('enabled' in systemd_resolved_status.stdout)

- name: "include install tasks"
  include: install.yml

- name: "include configure tasks"
  include: configure.yml

- name: "include ssl config tasks"
  include: ssl-certs.yml
  when: enable_dot or enable_doh

- name: flush handlers
  meta: flush_handlers

- name: "include doh/dot config tasks"
  include: doh-dot-server.yml
  when: enable_dot or enable_doh

- name: "include dnscrypt config tasks"
  include: dnscrypt.yml
  when: enable_dnscrypt

- name: "restart unbound to enable all settings"
  systemd:
    name: unbound
    state: restarted
    enabled: yes
    daemon_reload: yes
  changed_when: false
