{{ ansible_managed | comment }}
# See: https://www.nlnetlabs.nl/documentation/unbound/unbound.conf/

server:
        # verbosity number, 0 is least verbose. 1 is default.
        verbosity: {{ unbound_config.server_section.verbosity }}

        # number of threads to create. 1 disables threading.
        # num-threads: 1
        num-threads: {{ unbound_config.server_section.num_threads }}

        # specify the interfaces to answer queries from by ip-address.
        # The default is to listen to localhost (127.0.0.1 and ::1).
        # specify 0.0.0.0 and ::0 to bind to all available interfaces.
        # specify every interface[@port] on a new 'interface:' labelled line.
        # The listen interfaces are not changed on reload, only on restart.
        interface: {{ unbound_config.server_section.interface }}

        # number of ports to allocate per thread, determines the size of the
        # port range that can be open simultaneously.  About double the
        # num-queries-per-thread, or, use as many as the OS will allow you.
        outgoing-range: {{ unbound_config.server_section.outgoing_range }}

        # buffer size for UDP port 53 incoming (SO_RCVBUF socket option).
        # 0 is system default.  Use 4m to catch query spikes for busy servers.
        so-rcvbuf: {{ unbound_config.server_section.so_rcvbuf }}

        # buffer size for UDP port 53 outgoing (SO_SNDBUF socket option).
        # 0 is system default.  Use 4m to handle spikes on very busy servers.
        so-sndbuf: {{ unbound_config.server_section.so_sndbuf }}

        # use SO_REUSEPORT to distribute queries over threads.
        # at extreme load it could be better to turn it off to distribute even.
        so-reuseport: {{ unbound_config.server_section.so_reuseport }}

        # EDNS reassembly buffer to advertise to UDP peers (the actual buffer
        # is set with msg-buffer-size).
        edns-buffer-size: {{ unbound_config.server_section.edns_buffer_size }}

        # the amount of memory to use for the message cache.
        # plain value in bytes or you can append k, m or G. default is "4Mb".
        msg-cache-size: {{ unbound_config.server_section.msg_cache_size }}

        # the number of slabs to use for the message cache.
        # the number of slabs must be a power of 2.
        # more slabs reduce lock contention, but fragment memory usage.
        msg-cache-slabs: {{ unbound_config.server_section.msg_cache_slabs }}

        # the number of queries that a thread gets to service.
        num-queries-per-thread: {{ unbound_config.server_section.num_queries_per_thread }}

        # the amount of memory to use for the RRset cache.
        # plain value in bytes or you can append k, m or G. default is "4Mb".
        rrset-cache-size: {{ unbound_config.server_section.rrset_cache_size }}

        # the number of slabs to use for the RRset cache.
        # the number of slabs must be a power of 2.
        # more slabs reduce lock contention, but fragment memory usage.
        rrset-cache-slabs: {{ unbound_config.server_section.rrset_cache_slabs }}

        # the time to live (TTL) value lower bound, in seconds. Default 0.
        # If more than an hour could easily give trouble due to stale data.
        cache-min-ttl: {{ unbound_config.server_section.cache_min_ttl }}

        # the time to live (TTL) value cap for RRsets and messages in the
        # cache. Items are not cached for longer. In seconds.
        cache-max-ttl: {{ unbound_config.server_section.cache_max_ttl }}

        # the number of slabs to use for the Infrastructure cache.
        # the number of slabs must be a power of 2.
        # more slabs reduce lock contention, but fragment memory usage.
        infra-cache-slabs: {{ unbound_config.server_section.infra_cache_slabs }}

        # Enable IPv6, "yes" or "no".
        do-ip6: {{ unbound_config.server_section.do_ip6 }}

        # control which clients are allowed to make (recursive) queries
        # to this server. Specify classless netblocks with /size and action.
        # By default everything is refused, except for localhost.
        # Choose deny (drop message), refuse (polite error reply),
        # allow (recursive ok), allow_setrd (recursive ok, rd bit is forced on),
        # allow_snoop (recursive and nonrecursive ok)
        # deny_non_local (drop queries unless can be answered from local-data)
        # refuse_non_local (like deny_non_local but polite error reply).
        access-control: {{ unbound_config.server_section.access_control }}

        # if given, a chroot(2) is done to the given directory.
        # i.e. you can chroot to the working directory, for example,
        # for extra security, but make sure all files are in that directory.
        #
        # If chroot is enabled, you should pass the configfile (from the
        # commandline) as a full path from the original root. After the
        # chroot has been performed the now defunct portion of the config
        # file path is removed to be able to reread the config after a reload.
        #
        # All other file paths (working dir, logfile, roothints, and
        # key files) can be specified in several ways:
        #       o as an absolute path relative to the new root.
        #       o as a relative path to the working directory.
        #       o as an absolute path relative to the original root.
        # In the last case the path is adjusted to remove the unused portion.
        #
        # The pid file can be absolute and outside of the chroot, it is
        # written just prior to performing the chroot and dropping permissions.
        #
        # Additionally, unbound may need to access /dev/urandom (for entropy).
        # How to do this is specific to your OS.
        #
        # If you give "" no chroot is performed. The path must not end in a /.
        chroot: "{{ unbound_config.server_section.chroot }}"

        # the log file, "" means log to stderr.
        # Use of this option sets use-syslog to "no".
        logfile: "{{ unbound_config.server_section.logfile }}"

        # print one line with time, IP, name, type, class for every query.
        log-queries: {{ unbound_config.server_section.log_queries }}

        # file to read root hints from.
        # get one from https://www.internic.net/domain/named.cache
        root-hints: "{{ unbound_config.server_section.root_hints }}"

        # enable to not answer id.server and hostname.bind queries.
        hide-identity: {{ unbound_config.server_section.hide_identity }}

        # enable to not answer version.server and version.bind queries.
        hide-version: {{ unbound_config.server_section.hide_version }}

        # Sent minimum amount of information to upstream servers to enhance
        # privacy. Only sent minimum required labels of the QNAME and set QTYPE
        # to A when possible.
        qname-minimisation: {{ unbound_config.server_section.qname_minimisation }}

        # Aggressive NSEC uses the DNSSEC NSEC chain to synthesize NXDOMAIN
        # and other denials, using information from previous NXDOMAINs answers.
        aggressive-nsec: {{ unbound_config.server_section.aggressive_nsec }}

        # Use 0x20-encoded random bits in the query to foil spoof attempts.
        # This feature is an experimental implementation of draft dns-0x20.
        use-caps-for-id: {{ unbound_config.server_section.use_caps_for_id }}

        # If nonzero, unwanted replies are not only reported in statistics,
        # but also a running total is kept per thread. If it reaches the
        # threshold, a warning is printed and a defensive action is taken,
        # the cache is cleared to flush potential poison out of it.
        # A suggested value is 10000000, the default is 0 (turned off).
        unwanted-reply-threshold: {{ unbound_config.server_section.unwanted_reply_threshold }}

        # if yes, perform prefetching of almost expired message cache entries.
        prefetch: {{ unbound_config.server_section.prefetch }}

        # deny queries of type ANY with an empty response.
        deny-any: {{ unbound_config.server_section.deny_any }}

        # File with trusted keys for validation. Specify more than one file
        # with several entries, one file per entry.
        # Zone file format, with DS and DNSKEY entries.
        # Note this gets out of date, use auto-trust-anchor-file please.
        trust-anchor-file: "{{ unbound_config.server_section.trust_anchor_file }}"

        # Should additional section of secure message also be kept clean of
        # unsecure data. Useful to shield the users of this validator from
        # potential bogus data in the additional section. All unsigned data
        # in the additional section is removed from secure messages.
        val-clean-additional: {{ unbound_config.server_section.val_clean_additional }}

        # Serve expired responses from cache, with serve-expired-reply-ttl in
        # the response, and then attempt to fetch the data afresh.
        serve-expired: {{ unbound_config.server_section.serve_expired }}

        # Limit serving of expired responses to configured seconds after
        # expiration. 0 disables the limit.
        serve-expired-ttl: {{ unbound_config.server_section.serve_expired_ttl }}

        # Time in milliseconds before replying to the client with expired data.
        # This essentially enables the serve-stale behavior as specified in
        # RFC 8767 that first tries to resolve before
        # immediately responding with expired data.  0 disables this behavior.
        # A recommended value is 1800.
        serve-expired-client-timeout: {{ unbound_config.server_section.serve_expired_client_timeout }}

        # the number of slabs to use for the key cache.
        # the number of slabs must be a power of 2.
        # more slabs reduce lock contention, but fragment memory usage.
        key-cache-slabs: {{ unbound_config.server_section.key_cache_slabs }}

remote-control:
        # Enable remote control with unbound-control(8) here.
        # set up the keys and certificates with unbound-control-setup.
        control-enable: {{ unbound_config.remote_control_section.control_enable }}
