{{ ansible_managed | comment }}

{% for section in config_sections %}
{% if unbound_settings[''~section.name] is defined %}
{{ section.value }}:
{% for key, value in unbound_settings[''~section.name].items() | sort() %}
{% if key not in ["trust-anchor-file", "chroot", "control-cert-file", "control-key-file", "server-cert-file", "server-key-file"] %}
    {{ key }}: {{ value }}
{% else %}
    {{ key }}: "{{ value }}"
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
